doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content

script(type='text/javascript' src='./bower_components/jquery/dist/jquery.js')
script(type='text/javascript' src='javascripts/ajax.js')
